.section1 ,.section12 , .section112{
    display: flex;
    align-items: center;
}
.section1 , .section112{
    justify-content: space-around;
}
.black {
  color: #0A0914; 
  font-weight: bold;
}

.yellow {
  color: #FEC007; 
  font-weight: bold;
}
.section112{
    gap: 10px;
}
.button1{
    border: none;
    padding: 10px 25px;
    background-color: orange;
    border-radius: 15px;
    color: white;
}
.button2{
    border: none;
    padding: 10px 40px;
    background-color: orange;
    border-radius: 15px;
    color: white;
}
.section2112{
    color: orange;
    margin-top: -10px;
}
.section211{
    font-size: 30px;
    font-weight: normal;
}
.section21{
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items: start;
    gap: 10px;
}
.section2{
    display: flex;
    justify-content: space-around;
}
.section2112{
    color: orange;
    margin-top: -10px;
}
.section211{
    font-size: 30px;
    font-weight: normal;
}
.section21{
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items: start;
    gap: 10px;
}
.section2{
    display: flex;
    justify-content: space-around;
}

.section2112{
    color: orange;
    margin-top: -10px;
}
.section211{
    font-size: 30px;
    font-weight: normal;
}
.section21{
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items: start;
    gap: 10px;
}
.section2{
    display: flex;
    justify-content: space-around;
}